<div class="container is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
    <h2 class="title is-3 has-text-centered CRUD-title">{{this.method}}成功</h2>
    {{!-- <h4>{{this.message}}</h4> --}}
    <div class="content is-normal">
    {{#ifEquals this.method "POST"}}
        <ul>
            <li>
                {{!-- ? the this inside the helpers function is change due to --}}
                {{!-- ? the use of this in function assign, so need to go to --}}
                {{!-- ? parent level and get the data to display --}}
                <div class="dream-content">
                    <p>人物: {{../people}}</p>
                    <p>地點: {{../place}}</p>
                    <p>內容: {{../description}}</p>
                </div>
            </li>
        </ul>
    {{/ifEquals}}
    </div>
</div>