<div class="container is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
    <h2 class="title is-3 has-text-centered CRUD-title">夢境搜尋結果</h2>
    <div class="content is-normal">
        {{!-- ? get the results --> dreams (it's an object) get the value using dot notation --}}
        {{#if dreams.length}}
            <table class="table is-size-4">
                <thead>
                    <tr>
                        <th><abbr title="date">日期</abbr></th>
                        <th><abbr title="people">人物</abbr></th>
                        <th><abbr title="place">地點</abbr></th>
                        <th><abbr title="description">內容</abbr></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each dreams}}
                        <tr>
                            <td>{{this.date}}</td>
                            <td>{{this.people}}</td>
                            <td>{{this.place}}</td>
                            <td>{{this.description}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        {{else}}
            <p>No results found</p>
        {{/if}}
    </div>
</div>
